<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |story|}}
    <tr>
      <td>{{#link-to 'stories.story' story.id}}{{story.title}}{{/link-to}}</td>
      <td>{{story.dueDate}}</td>
      <td>{{story.tasks}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">Coleção Vazia</td>
    </tr>
  {{/each}}
  </tbody>
</table>
