
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Story Title: {{model.title}}</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      {{#each model.tasks as |task|}}
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Task</h3>
            </div>
            <div class="panel-body">
              {{task.name}}
            </div>
            <div class="panel-footer">
              {{#link-to 'stories.view-task' task.id class="btn btn-success btn-sm"}}View Task{{/link-to}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="panel-footer">
    {{#link-to 'stories.edit' model.id class="btn btn-success btn-sm"}}Edit Story{{/link-to}}
    {{#link-to 'stories.add-task' model.id class="btn btn-primary btn-sm"}}Add Task{{/link-to}}
  </div>
</div>

{{#link-to 'stories' class="btn btn-primary"}}Back to Stories List{{/link-to}}
