<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |task|}}
    <tr>
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">Coleção Vazia</td>
    </tr>
  {{/each}}
  </tbody>
</table>
